.cart {
  background: $light;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: $dark;
  width: 336px;
  padding: 8px 10px 10px 8px;
  display: flex;
  gap: 10px;

  &__wrapper {
    position: relative;
    width: 100px;
    height: 148px;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &__label {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%);
    color: #181818;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    padding: 5px 6px;
    background-color: $light;
    border-radius: 16px;
    white-space: nowrap;
  }

  &__content {
    padding-top: 3px;
  }

  &__title {
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }

  &__autor {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 10px;
    color: #6B6B6B;
  }

  &__description {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 7px;
    color: $dark;
  }

  &__rating-start {
    width: 18px;
    height: 18px;
  }
}