
.header {
  padding: 8px 0;

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo{
    height: 40px;
  }
  &__btn-add {
     display: none;
  }
  &__btn {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 24px;
    background-color: transparent;
    border: 0;
    background-position: center right;
  }
  &__btn-search {
    background-image: url('../img/serch.svg');
    
  }
  
}

