$dark: #000000;
$light: #FFFFFF;

$primary: #f87c09;
$primarylight: #ff922e;
$primarydark: #aeaaaa;

$secondary: #eaeaea;
$secondarydark: #6b6b6b;



@mixin font($name, $weight) {
  @font-face {
    font: {
      family: $name;
      weight: $weight;
      display: swap;
    }
    src: url("../fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
    url("../fonts/#{ $name }-#{ $weight }.woff") format("woff");
  }
}
